@{
    /**/

    ViewBag.Title = "Index";
}


<h4 class="d-flex justify-content-center bg-light text-muted"><marquee>Trainee Recruitment under Batch (Asp.Net MVC CRUD Operation).</marquee></h4>
<hr />
<img src="https://www.eviaglobal.com/images/hirenet-developer.jpg" width="1115" />